body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section
{
    padding: 0 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 16s ease-in-out infinite;
}

h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 3em;
    text-transform: uppercase;
    color:black;
    text-align: center;
}

@keyframes animate{
    0%,100%{
        background-image: url("../images/img1.jpg");
    }
    25%{
        background-image: url("../images/img2.jpg");
    }
    50%{
        background-image: url("../images/img3.jpg");
    }
    75%{
        background-image: url("../images/img4.jpg");
    }
}

