<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="style" href="public/stylesheets/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <title>Transaction Page</title>
</head>

<body style="background-color: #ffc478;">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #72daae;" >
    <div class="container-fluid ">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Farming Toolkit</a>
        </div>

        <div class="nav navbar-right">
            <div class="navbar-header me-4">
                <a class="navbar-brand" href="#">Welcome</a>
            </div>
            <li class="nav-item dropdown">
                <div class="dropdown-content">
                    <form action="./login.html">
                        <input type="submit" value="Log Out" />
                    </form>
                </div>
            </li>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center;">TRANSACTIONS</h1>
            <table class="table table-bordered table-dark table-striped table-hover" style="background-color: #f3863d;">
                <thead>
                <tr>
                    <th scope="col" >Crop Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Type</th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bootstrap 4 CDN and Starter Template</td>
                    <td>Cristina</td>
                    <td>2.846</td>

                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>3.417</td>


                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Bootstrap Flexbox Tutorial and Examples</td>
                    <td>Cristina</td>
                    <td>1.234</td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>